[submodule "pkgs/glfw/_external/glfw"]
	path = pkgs/glfw/_external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "pkgs/zig-opengl"]
	path = pkgs/zig-opengl
	url = https://github.com/MasterQ32/zig-opengl.git
[submodule "pkgs/stb/_external/stb"]
	path = pkgs/stb/_external/stb
	url = https://github.com/nothings/stb.git
[submodule "pkgs/imgui/_external/imgui"]
	path = pkgs/imgui/_external/imgui
	url = https://github.com/ocornut/imgui.git
